.form {
  padding: 100px 0 40px;
  z-index: 100;
}
.form__left {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 100;
}
.form__form {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px -5px 20px 0px rgba(41, 41, 42, 0.2);
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.form__form-text {
  color: rgb(43, 122, 241);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 24px;
}
input::placeholder{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
input, textarea{
  resize: none;
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 10px;
  padding: 10px 0 10px 20px;
}
.form-inner{
  display: flex;
  gap: 84px;
  justify-content: center;
}
.form__form-name {
}
.form__form-email {
  margin: 15px 0;
}
.form__form-message {
  margin-bottom: 24px;
}
.form__form-btn {
}
.form-right {
  position: relative;
}
.form-right-decor {
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -20;
}
.form-right-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  max-width: 700px;
}
.form-right-author {
  margin-top: 20px;
  color: rgb(43, 122, 241);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.form-right-job {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}